
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222831;
}



.header{
    background-color: #111720;
    color: #fac650;
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
}
h1{
    text-align: center;
    word-spacing: 20px;
    font-family: 'Press Start 2P', cursive;
}



.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
}



.scoreboard{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#scoreInfo{
    font-family: Metal Mania;
    letter-spacing: 3px;
}
#scoreMessage{
    word-spacing: 5px;
}
.score{
    font-size: 20px;
}
.scores-container{
    display: flex;
    width: 300px;
    height: 150px;
    gap: 50px;
}
.score-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}
.sign{
    height: 70%;
    font-size: 80px;
}



.playround{
    display: flex;
    gap: 120px;
    margin-bottom: 20px;
}
.playround button{
    height: 150px;
    width: 150px;
    background-color: #222831;
    transition: 0.3s ease-in;
    border-radius: 30px;
    border: none;
    animation: rotate 6s linear infinite; /* Apply the animation */
    border: 2px solid transparent; 
    transition: border-color 0.3s;
}
@keyframes rotate {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
.playround button:hover{
    cursor: pointer;
    transition: 0.9s ease-out;
    background-color: #111720;
    border-color: #3498db;
}


.rock{
    background-image: url("rock.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center;
    padding: 15px;
}
.paper{
    background-image: url("paper.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center;
    padding: 15px;
}
.scissors{
    background-image: url("scissors.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    background-position: center;
    padding: 15px;
}


.result{
    height: 45px;
    margin: 20px;
}
.final-result{
    font-size: 26px;
    font-family: 'Carter One', cursive;
    word-spacing: 9px;
    text-shadow: 3px 3px black;
}



.restart{
    margin-top: 10px;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    font-size: 12px;
    background-color: #111720;
    color: whitesmoke;
    border: none;
}
.restart:hover{
    color: gold;
    border: 1px solid gold;
}



.footer{
    height: 25px;
    margin-right: 10px;
}
.footer p{
    text-align: center;
    color: whitesmoke;   
}